/************************************
main.css contains styling for mobile
diplay screen sizes
***********************************/

/*************
GENERAL STYLE
*************/

img {
	max-width: 100%;
}

div button {
	padding: .3em 1em .3em 1em;
	border: none;
	color: #fff;
	background-color: darkgreen;
}


/************
HEADER STYLE
************/
.wrapper {
	background-image: url(../img/nice.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper img {
	padding: 0 0 1em 1em;
	width: 20%;
	opacity: .5;
}


li span {
	color: #000;
}

p span {
	color: #fff;
}

.top ul {
	width: 100%;
	text-align: right;
	background-color: rgba(255, 255, 255, .5);
	list-style: none;
}

.top ul li {
	display: inline-block;
	font-family: Times;
	font-size: .75em;
	padding: 1em .5em 1em .5em;
}

.middle {
	padding-left: 1em;
	padding-bottom: .7em;
}

.middle h3 {
	font-size: 1.5em;
	font-family: Times;
	font-weight: bolder;
	padding-bottom: .5em;
}

.middle li {
	color: #fff;
	padding-bottom: .3em;
	font-size: .8em;
	font-family: Times;
}

.middle li:nth-child(4) {
	padding-bottom: .6em;
}


.buttom {
	background-color: rgba(0, 0, 0, .65);
	text-align: center;
	padding: .5em 0;
	font-family: Times;
}

.buttom h2 {
	font-size: .99em;
	color: #fff;
}

.buttom h5 {
	font-size: .6em;
	color: #fff;
}

strong {
	font-size: 2em;
}
/************
SECTION STYLE
************/
section {
	padding: auto;
	text-align: center;
}

.how {
	display: block;
	padding: 1.5em 0 1.5em 0;
	background-color: #F5F5F5;
	
}

.how h3 {
	padding-bottom: 1.5em;
	color: grey;
	font-family: comic;
	font-size: 1.5em;
}

.how img {
	width: 100%;
	height: 10%;
	margin: auto;
	padding: 0 0 .2em 0;
}

.looking {
	display: block;
	background-image: url(../img/012.jpg);
	background-size: 100%;
	background-position: center;
	padding: .5em 0;
}


.looking h2 {
	color: #000;
	font-family: comic;
	font-size: 1.3em;
	padding: 1em 0;
}

.looking p {
	font-size: .8em;
	font-family: Times;
	padding-bottom: .5em;
}


.partners h3 {
	font-size: 1.5em;
	font-family: comic;
	padding: .5em 0 .5em 0;
}

.partners ul {
	list-style: none;
}

.partners ul li {
	display: inline-block;
	max-width: 16%;
	padding: 0 .4em 1em .4em;
}



/***********
FOOTER STYLE
************/
footer {
	margin: auto;
	display: block;
}

.thickness {
	background-color: green;
	margin: auto;
	padding: .1em .1em;
}

.footer {
	background-color: #001111;
	margin: auto;
	padding: 1em  0 1em 1.5em;
}

.footer ul {
	list-style: none;
}

.footer ul li {
	font-size: .65em;
	font-family: Times;
	color: #fff;
	display: inline-block;
	padding: 0 .5em 0 .5em;
}

