@media screen and (min-width: 480px) {

	.wrapper {
		background-position: top;
		padding-bottom: 0; 
	}

	.wrapper img {
		padding-bottom: 2em;
		width: 10%;
	}

	.top {
		padding-top: 0;
	}

	.top ul li {
		font-size: 1em;
	}

	.middle {
		padding-left: 5em;
		padding-top: 0;
		padding-bottom: 2em;
	}

	.middle li {
		font-size: .9em;
		color: #000;
	}

	.buttom {
		padding-top: 1em;
		padding-bottom: 2em;
	}

	.buttom h2 {
		font-size: 2em;
	}

	.buttom h5 {
		font-size: 1.2em;
	}

	.how h3 {
		font-size: 1em;
		padding-top: 0;
		padding-bottom: .2em;
	}

	.how img {
		width: 40%;
	}

	.how h3 {
		font-size: 2em;
		padding-bottom: .5em;
	}

	.looking {
		background-image: url(BG.jpg);
		padding: 0 0 1em 0;
	}
	.looking h2 {
		font-size: 2em;
		padding-bottom: .5em;
	}

	.looking p {
		font-size: 1em;
	}

	.go {
		display: inline-block;
	}


	.partners {
		padding: .5em 0;
	}

	.partners ul li {
		max-width: 7%;
		padding: 0 3em 0 3em;
	}

	.footer {
		padding-top: .2em;
	}

	.footer ul li {
		padding-top: .5em;
		font-size: .8em;
	}
}