@media screen and (min-width: 480px) {

	span {
		color: #fff;
	}

	.wrapper {
		background-position: top;
		padding-bottom: 0; 
	}

	.wrapper img {
		padding-bottom: 2em;
		width: 10%;
	}

	.top {
		padding-top: 0;
	}

	.top ul li {
		font-size: 1em;
	}

	.middle {
		padding-left: 5em;
		padding-top: 0;
		padding-bottom: 2em;
	}

	.middle li {
		font-size: 1.3em;
		color: #000;
	}

	div button {
		padding: 1em 1em 1em 1em;
		font-size: 1em;
	}

	.buttom {
		padding-top: 1em;
		padding-bottom: 2em;
	}

	.buttom h2 {
		font-size: 2em;
	}

	.buttom h5 {
		font-size: 1.2em;
	}

	.how img {
		height: 15%;
		width: 50%;
	}

	.how h3 {
		font-size: 2.5em;
		padding-bottom: 1em;
	}

	.looking {
		background-image: url(../img/014.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		padding: 0 0 1em 0;
	}
	.looking h2 {
		font-size: 2.5em;
		padding-bottom: .5em;
	}

	.looking p {
		font-size: 1.5em;
	}

	.go {
		display: inline-block;
	}

	.partners h3 {
		font-size: 2em;
		padding-bottom: 1em;
	}

	.partners {
		padding: 1em 0;
	}

	.partners ul li {
		height: 10%;
		width: 7%;
		padding: 2em 3em 2em 3em;
	}

.thickness {
	padding: .2em 0;
}

	.footer {
		padding-top: .5em;
		padding-bottom: .5em;
	}

	.footer ul li {
		padding-bottom: 1em;
		padding-top: 1em;
		font-size: 1em;
	}
}